@inherits TwitterBlockComponent<MudBlazorBlocklyListOptions>
<div class="block-content">
    <blockquote class="twitter-tweet" @ref="ContainerRef">
        <div class="preloader">
            <a href="@Block.Url"><MudProgressCircular Indeterminate="true"></MudProgressCircular > Loading tweet...</a>
        </div>
    </blockquote>
</div>
