@using Microsoft.AspNetCore.Components
@inherits Sitko.Blockly.Blazor.Forms.Blocks.TwitterBlockForm<AntDesignBlocklyFormOptions>


<FormItem Label="@LocalizationProvider["Url"]">
    <Input @bind-Value="Block.Url" Placeholder="@LocalizationProvider["Tweet link"]" AllowClear="true" OnChange="OnChangeAsync" TValue="string"/>
</FormItem>
<div @ref="ContainerRef" class="tweet">
</div>
