@using Microsoft.AspNetCore.Components
@typeparam TForm
@inherits Sitko.Blockly.Blazor.Forms.Blocks.TwitchBlockForm<TForm>

<FormItem Label="Ссылка">
    <Input @bind-Value="@Block.Url" OnBlur="RenderVideoAsync"/>
</FormItem>
<div @ref="ContainerRef" class="twitch-video" style="text-align: center"></div>
