@using Microsoft.AspNetCore.Components
@typeparam TForm
@inherits Sitko.Blockly.Blazor.Forms.Blocks.TwitterBlockForm<TForm>


<FormItem Label="Ссылка">
    <Input @bind-Value="@Block.Url" OnBlur="@(async () => await RenderTweetAsync())"/>
</FormItem>

<div @ref="ContainerRef" class="tweet">
</div>
