@using FormItem = AntDesign.FormItem
@typeparam TForm
@inherits YoutubeBlockForm<TForm>
<FormItem Label="@LocalizationProvider["Url"]">
    <Input placeholder="@LocalizationProvider["Video url"]" @bind-Value="@Block.Url"/>
</FormItem>
@if (!string.IsNullOrEmpty(Block.YoutubeId))
{
    <div class="youtube-container-wrapper">
        <div class="youtube-container">
            <iframe src="@Block.Url"
                    frameborder="0" allowfullscreen class="youtube-video">
            </iframe>
        </div>
    </div>
}
