@using Microsoft.AspNetCore.Components.Forms
@inherits GalleryBlockFormBase
<div class="storageItems">
    Здесь будет какой-то селектор картинок
</div>
<ValidationMessage For="@(() => Block.Pictures)"></ValidationMessage>
