@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@inherits TwitchBlockFormBase
@inject IJSRuntime _jsRuntime

<FormItem Label="Ссылка">
    <Input @bind-Value="@Block.TwitchLink" OnBlur="RenderVideoAsync"/>
</FormItem>
@if (!string.IsNullOrEmpty(Block.TwitchLink))
{
    <div id="twitch-@Block.Id" class="twitch-video" style="text-align: center">Загрузка видео...</div>
}

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await RenderVideoAsync();
        }
    }

    private async Task RenderVideoAsync()
    {
        if (!string.IsNullOrEmpty(Block.TwitchLink))
        {
            var arg = new {video = Block.VideoId, channel = Block.ChannelId, collection = Block.CollectionId, id = Block.Id, instance = DotNetObjectReference.Create(this)};
            await _jsRuntime.InvokeAsync<string>(
                "BlazorTwitch.render",
                arg);
        }
    }
}
