@using Microsoft.AspNetCore.Components
@inherits TwitterBlockFormBase


<FormItem Label="Ссылка">
    <Input @bind-Value="@Block.Url" OnBlur="RenderTweetAsync"/>
</FormItem>

<div id="twitter-@Block.Id" class="tweet">
</div>
