@inherits YoutubeBlockFormBase
<FormItem Label="Ссылка">
    <Input @bind-Value="@Block.YoutubeLink"/>
</FormItem>
@if (!string.IsNullOrEmpty(Block.YoutubeId))
{
    <div style="text-align: center">
        <iframe frameborder="0"
                allowfullscreen=""
                width="560" height="315"
                src="@Block.EmbedUrl">
        </iframe>
    </div>
}
