@typeparam TEntity
@using Sitko.Blockly.Blocks
@inherits Sitko.Blockly.Blazor.Display.BlocksList<TEntity>
@foreach (var block in Blocks)
{
    var blockDescriptor = Blockly.GetBlockDescriptor(block.GetType());
    var className = $"blockly blockly-{block.GetType().Name.ToLowerInvariant()}";
    <div class="@className" @key="block.Id">
        @(blockDescriptor.RenderBlock(block, Context))
    </div>
    if (Context.Mode == BlocksListMode.Preview && block is CutBlock)
    {
        break;
    }
}
