@typeparam TEntity
@using Sitko.Blockly.Blocks
@inherits Sitko.Blockly.Blazor.Display.BlocksList<TEntity, AntDesignBlocklyListOptions>
@foreach (var block in Blocks)
{
    var blockDescriptor = Blockly.GetBlockDescriptor(block.GetType());
    var className = $"blockly blockly-{block.GetType().Name.ToLowerInvariant()} {blockDescriptor.DisplayComponentCssClass}";
    <div class="@className" @key="block.Id">
        @(RenderBlock(blockDescriptor, block))
    </div>
    if (Context.Mode == BlocksListMode.Preview && block is CutBlock)
    {
        break;
    }
}
