<div class="blockly-form-error">
    <Alert Message="@Error" Type="@AlertType.Error"/>
</div>

@code {

#if NET6_0_OR_GREATER
    [EditorRequired]
#endif
    [Parameter]
    public string Error { get; set; } = null!;

}
