@page "/"
@using Sitko.Blockly.Demo.Data.Entities
@using Sitko.Blockly.Demo.Data.Repositories
@using Sitko.Blockly.Display
@using Sitko.Core.Storage
@inherits BaseComponent
    <PageContainer Title="Posts">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>Posts</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <Content>
        </Content>
        <ExtraContent>
            <Button>
                <a href="/Posts/Add">Add</a>
            </Button>
        </ExtraContent>
        <ChildContent>
            @foreach (Post post in Posts)
            {
                <Card Title="@post.Title">
                    <Extra>
                        <a href="/Posts/@post.Id/Edit">
                            <Button>Edit</Button>
                        </a>
                    </Extra>
                    <ChildContent>
                        <AntBlocksList TEntity="Post" Entity="post" EntityBlocks="post.Blocks" Options="@(new AntDesignBlocklyListOptions {Storage = GetService<IStorage<BlocklyStorageOptions>>(), Mode = BlocksListMode.Preview})" EntityUrl="@($"/Posts/{post.Id}")"></AntBlocksList>
                    </ChildContent>
                </Card>
            }

        </ChildContent>
    </PageContainer>


@code{

    protected override async Task InitializeAsync()
    {
        await base.InitializeAsync();
        var posts = await GetRequiredService<PostsRepository>().GetAllAsync();
        Posts = posts.items;
    }

    private Post[] Posts { get; set; } = new Post[0];

}
