@page "/Posts/{PostId:guid}"
@using Sitko.Blockly.Blazor.Display
@using Sitko.Blockly.Demo.Data.Entities
@inherits BaseComponent
@if (IsInitialized)
{
    var title = Post.Id.ToString();
    <PageContainer Title="@title">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>Posts</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ExtraContent>
            <Button>
                <a href="/Posts/@Post.Id/Edit/">Edit</a>
            </Button>
        </ExtraContent>
        <Content>
        </Content>
        <ChildContent>
            <AntBlocksList TEntity="Post" Entity="Post" EntityUrl="@($"/Posts/{PostId}")" Mode="BlocksListMode.Full"></AntBlocksList>
        </ChildContent>
    </PageContainer>
}
