@page "/Posts/{PostId:guid}"
@using Sitko.Core.Storage
@using Sitko.Blockly.Display
@inherits BaseComponent
@if (Post is not null)
{
    var title = Post.Title;
    <PageContainer Title="@title">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>Posts</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ExtraContent>
            <Button>
                <a href="/Posts/@Post.Id/Edit/">Edit</a>
            </Button>
        </ExtraContent>
        <Content>
        </Content>
        <ChildContent>
            <MudBlocksList EntityBlocks="Post.Blocks" Options="@(new MudBlazorBlocklyListOptions(BlocksListMode.Full, GetService<IStorage<BlocklyStorageOptions>>()))"></MudBlocksList>
        </ChildContent>
    </PageContainer>
}
