@typeparam TEntity
@inherits CutBlockComponent<TEntity, AntDesignBlocklyListOptions>
<a href="@Context.EntityUrl">
    <Button>
        @{
            if (string.IsNullOrEmpty(Block.ButtonText))
            {
                <span>
                    @LocalizationProvider["Read more..."]
                </span>
            }
            else
            {
                <span>
                    @Block.ButtonText
                </span>
            }
        }
    </Button>
</a>
