@typeparam TEntity
@inherits FilesBlockComponent<TEntity, AntDesignBlocklyListOptions>
@if (ListOptions.Storage is not null)
{
@foreach (var file in Block.Files)
{
    <ul>
        <li>
            <AntDesign.Icon Type="paper-clip"/> <a target="_blank" rel="noopener noreferrer" title="@file.FileName" href="@ListOptions.Storage.PublicUri(file)">@file.FileName</a>&nbsp;(&nbsp;@file.HumanSize&nbsp;)
        </li>
    </ul>
}
}
else
{
    <AntBlockErrorComponent Error="@LocalizationProvider["Storage is not configured"]"></AntBlockErrorComponent>
}
