@typeparam TEntity
@inherits IframeBlockComponent<TEntity,AntDesignBlocklyListOptions>
<!--suppress HtmlDeprecatedAttribute -->
<div class="embed-container">
    @* ReSharper disable once Html.Obsolete *@
    <iframe frameborder="0"
            allowfullscreen="allowfullscreen"
            width="560" height="315"
            src="@Block.Src">
    </iframe>
</div>
