@typeparam TEntity
@inherits TwitterBlockComponent<TEntity>
<blockquote class="twitter-tweet" @ref="ContainerRef">
    <div class="preloader">
        <a href="@Block.Url"><Icon Spin="true" Type="spin"></Icon> Loading tweet...</a>
    </div>
</blockquote>
