@typeparam TEntity
@inherits TwitchBlockComponent<TEntity, AntDesignBlocklyListOptions>
<div class="block-content">
    <div @ref="ContainerRef" id="twitch-@Block.Id" class="twitch-container">
    </div>
</div>
