@typeparam TEntity
@inherits YoutubeBlockComponent<TEntity, AntDesignBlocklyListOptions>
<!--suppress HtmlDeprecatedAttribute -->
<div class="youtube-container-wrapper">
    <div class="youtube-container">
        @* ReSharper disable once Html.Obsolete *@
        <iframe src="@Block.Url"
                frameborder="0" allowfullscreen class="youtube-video">
        </iframe>
    </div>
</div>
