@typeparam TEntity
@inherits YoutubeBlockComponent<TEntity>
<div class="embed-container">
    <iframe frameborder="0"
            allowfullscreen="allowfullscreen"
            width="560" height="315"
            src="@Block.Url">
    </iframe>
</div>
