
.twitter-tweet {
    margin: 0 auto;
}

.ui-datatable-data td .ui-cell-data {
    overflow: auto;
    white-space: normal;
    text-overflow: initial;
}

.storageItems {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.storageItems img {
    width: 100%;
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    object-fit: contain;
}


.storageItems .item {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 200px;
    min-width: 200px;
}

.block-row .storageItems .item {
    text-align: center;
}

.storageItems .item img {
    vertical-align: middle;
}

/*
  And here are some declarations for the image caption.
  Just hover over one of the last 5 images to see it.
*/


.storageItems .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform 0.5s;
    transform: translateY(100%);
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    text-align: center;
}

.storageItems .item:hover .caption {
    transform: translateY(0%);
}

.blockly {
    max-width: 60%;
    margin: 0 auto 40px;
}

.blockly.blockly-galleryblock img{
    max-width: 100%;
}
